# Environment
.env

# Python
__pycache__/
*.py[cod]
.venv/
backend/db.sqlite3
backend/staticfiles/
backend/media/
.ruff_cache/

# Node
node_modules/
dist/

# Editors / OS
.idea/
.vscode/
.DS_Store
*.log
